services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop2.7.4-java8
    container_name: namenode
    environment:
      - CLUSTER_NAME=local-hadoop
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HDFS_CONF_dfs_namenode_http-address=0.0.0.0:9870
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - ./hadoop_conf:/etc/hadoop/conf
    networks:
      - hadoopnet
    hostname: namenode

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop2.7.4-java8
    container_name: datanode
    depends_on:
      - namenode
    environment:
      - CLUSTER_NAME=local-hadoop
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HDFS_CONF_dfs_datanode_address=0.0.0.0:9870
      - HDFS_CONF_dfs_datanode_http-address=0.0.0.0:9864
    volumes:
      - ./hadoop_conf:/etc/hadoop/conf
    ports:
      - "9864:9864"
    networks:
      - hadoopnet

  spark-master:
    image: apache/spark:latest
    container_name: spark-master
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_HOST=spark-master
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.master.Master"]
    ports:
      - "8080:8080"
      - "7077:7077"
    depends_on:
      - namenode
    networks:
      - hadoopnet


  spark-worker:
    image: apache/spark:latest
    container_name: spark-worker
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER_URL=spark://spark-master:7077
    command: ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.worker.Worker", "spark://spark-master:7077"]
    ports:
      - "8081:8081"
    depends_on:
      - spark-master
    networks:
      - hadoopnet

  jupyter:
    image: jupyter/pyspark-notebook
    container_name: jupyter
    ports:
      - "8888:8888"
    environment:
      - SPARK_OPTS=--conf spark.hadoop.fs.defaultFS=hdfs://namenode:9000
      - HADOOP_CONF_DIR=/etc/hadoop/conf
    depends_on:
      - spark-master
      - namenode
    networks:
      - hadoopnet

volumes:
  hadoop_namenode:
  hadoop_datanode:

networks:
  hadoopnet:
    driver: bridge

